#body {
  background-color: #1C1C1C
}

.main-title {
  text-align: center;
  color: red
}

#form {
  background-color: #F8F8FF;
  margin: 20px;
  padding: 20px;
  border-radius: 20px
}

/* Change styles for span and cancel button on extra small screens
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
} */